@import "../../variables.scss";

.results-container {
  margin-top: -1rem;
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  padding: 20px 40px 20px 20px;
  border-radius: 20px;
  background-color: rgb(27 26 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.results-text {
  width: 100%;
  font-family: monospace;
  font-size: 14px;
  text-align: left;
}

.copy-to-clipboard-wrapper {
  position: absolute;
  right: 16px;
  top: 16px;
  color: rgba(245, 245, 245, 0.436);
  cursor: pointer;
}

.copy-to-clipboard-wrapper:hover {
  color: whitesmoke;
}

.success {
  color: lime;
}

.success:hover {
  color: lime;
}
