@import "../../../variables.scss";

.hero-box-container {
  width: calc(100% - 35% - 1rem);
  height: 600px;
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 20px;
  position: relative;
  transition: all 0.25s ease;
}

.hero-box {
  width: 50%;
  max-width: 350px;
  transition: all 0.25s ease;
}

.hero-box-radius-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.hero-radius {
  width: 40px;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  border: none;
}

.slider {
  width: 100px;
  padding: 0;
}

.hero-box-aspect-ratio-container {
  position: absolute;
  right: -60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  transform: translateX(-1px);
}

.aspect-ratio {
  font-weight: 500;
  font-size: 14px;
  text-indent: -10px;
  border-radius: 0 30px 30px 0;
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  cursor: pointer;
}

.aspect-ratio:hover {
  padding-left: 10px;
}

.active {
  padding-left: 10px;
}

.hero-box-color-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-box-scale-container {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  gap: 6px;
}

.scale-icon {
  cursor: pointer;
}

.box-display {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 30px;
  height: 100%;
  overflow: hidden;
  transition: all 0.25s ease;
  display: flex;
}

.adjusted {
  display: flex;
  align-items: center;
  padding: 30px 40px;
  text-align: justify;
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-box-content-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-option-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-option {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  cursor: pointer;
  position: relative;
}

.content-option:hover {
  transform: scale(1.05);
}

.image-input {
  background-color: transparent;
  width: 200px;
  padding: 8px;
  border-radius: 20px;
}

.toggle-image-url,
.toggle-text-settings {
  position: absolute;
  top: -4px;
  right: -6px;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero-box-text-input {
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  font-family: inherit;
  resize: none;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

.text-settings-wrapper {
  position: absolute;
  left: 3rem;
  animation: slideIn 0.25s ease-out;
}

.text-align-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 30px;
}

.text-align-button {
  background-color: transparent;
  color: inherit;
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.text-align-button:hover {
  transform: scale(1.1);
}

.text-color {
  border: 1px solid #26232a;
}

.text-size-input {
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  width: 60px;
  height: 100%;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
}

.text-weight-input {
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  width: 60px;
  height: 100%;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (max-width: 1500px) {
  .hero-box-container {
    height: 500px;
    max-height: 500px;
  }
  .hero-box {
    max-width: 280px;
  }
}
