@import "../../../variables.scss";
.control-option {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  box-shadow: $input-shadow-1;
}

.remove-button {
  position: absolute;
  top: -8px;
  right: -8px;
  color: rgb(255, 37, 88);
  cursor: pointer;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.color-picker-display {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.color-picker {
  opacity: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  inline-size: 100%;
  block-size: 100%;
  cursor: pointer;
}

.xybs-position-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 60px;
}

.xybs-input {
  width: 100%;
  background-color: transparent;
  color: inherit;
  // border: 1px solid $dark-text;
  border-radius: 20px;
  text-align: center;
}

// color selector //
.popover {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.popover .react-colorful {
  padding: 16px;
  border-radius: 12px;
  background: #33333a;
  z-index: 1000;
}

.popover .react-colorful__saturation {
  margin: 15px 0;
  border-radius: 5px;
  border-bottom: none;
}

.popover .react-colorful__hue {
  order: -1;
}

.popover .react-colorful__hue,
.popover .react-colorful__alpha {
  height: 14px;
  border-radius: 5px;
}

.popover .react-colorful__hue-pointer,
.popover .react-colorful__alpha-pointer {
  width: 20px;
  height: 20px;
}
