@import "../../variables.scss";

.box-home-container {
  width: 100%;
  height: 600px;
  max-height: 600px;
  // min-height: 650px;
  color: $dark-text;
  border-radius: 20px;
  display: flex;
  gap: 1rem;
}
