:root {
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1d22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
  margin-block: 0;
}

p {
  margin-block: 0;
}

.simple-input {
  background-color: transparent;
  color: inherit;
  padding: 0;
  width: 80px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  cursor: pointer;
}
