$dark-text: #0b090d;

$input-shadow-1: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.15),
  inset -1px -1px 0px 0px rgba(0, 0, 0, 0.2),
  4px 4px 20px -5px rgba(0, 0, 0, 0.2), 0 0 rgba(0, 0, 0, 0),
  0 2.3px 2.8px rgba(0, 0, 0, 0.027), 0 4.7px 5.5px rgba(0, 0, 0, 0.035),
  0 7.3px 8.3px rgba(0, 0, 0, 0.04), 0 10px 11.2px rgba(0, 0, 0, 0.043);

$neomorph: inset -2px -2px 6px -3px rgba(255, 255, 255, 0.15),
  inset 2px 2px 5px -2px rgba(0, 0, 0, 0.5),
  -2px -2px 6px -3px rgba(255, 255, 255, 0.15),
  2px 2px 5px -2px rgba(0, 0, 0, 0.5);

$neomorph2: inset 2px 2px 2px -2px rgba(255, 255, 255, 0.25),
  inset 1px 1px 0px 0px rgba(255, 255, 255, 0.15),
  inset -1px -1px 0px 0px rgba(0, 0, 0, 0.2), 1px 1px 2px 1px rgba(0, 0, 0, 0.2),
  2px 2px 5px -2px rgba(0, 0, 0, 0.125),
  inset -1px -1px 0px 0px rgba(0, 0, 0, 0.25);
